<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}"/>

    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{factura/fragments :: agregarFactura}"/>
        <section th:replace="~{factura/fragments :: listado}"/>
        <section th:replace="~{factura/fragments :: editarFactura}"/>
        <section th:replace="~{factura/fragments :: confirmarEliminar}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>
        <section th:replace="~{layout/plantilla :: mostrarToast}"/>
    </body>
</html>